

/* form cadastro begin */

.cadastro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    margin: 30px auto;
    border: 4px solid #4fc4be;
    border-radius: 10px;
    background-color: white;
    
}

/* form cadastro end */


@media (max-width: 480px){
    #menuBase{
        display: none;
    }
    #toggle{
        display: block;
    }
}


/* Produtos Cards Home */

.thumbnail img {
    max-width: 250px;
}