
        /* produto  begin*/

.quadro{
    margin-top: 30px;
}

/* produto end */

/* card imagens begin*/

    /* .imgcard{
        margin-right: 18px;
    } */
.card-img-top{
    align-self: center;
}
/* card imagens end */


/* imagem logo */
#imagemlogo {
    width: 40%;
    height: 40%;
}


/* imagem */

.img1{
    margin: 17px;
    
}
.img2{
    margin: 15px;
}
.img3{
    padding: 30px;
}

/* info */

.name-info{
    margin: 0px;
   
}
.quant{
    margin: 10px;
    font-size: 15px;
}
.btnn{
    margin: 15px;
    color: white;
    border-color: transparent;
    background-color: #17a2b8;
    
    
}
.card-text{
    text-align: center;
}

.prod h4{
    margin-bottom: 30px;
    align-self: center;
}

.arm{
    margin-top:20px; 
}

.btn12{
    margin-top: 10px;
    
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
 
 .zoem:hover{
     transform: scale(1.4);
 } 








/* Imagem  produtos modal  */

.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


/* imagem modal end */

/* img produtos */

.rodape .card{
   border: none;
   max-width: 250px;
}
.caro img{
    max-width: 100px;
}
.princi img{
    max-width: 300px;
}

/* img produtos end */

