* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Verdana;
    font-size: 15px;
    min-height: 100vh;
    /* position: relative; */
    overflow-x: hidden;
  
}
/* Início Header*/
#containerNav {
    background: white;
    padding: 0%;
    width: 100%;
}

#navTopo {
    margin: 1% 4% 0% 4%;
    width: 100vw;
    height: 16vh;
    justify-content: space-between;
    align-items: flex-start;
}

#containerSearch form input {
    height: 4vh;
    font-size: 1em;
    border-color: #4fc4be;
    border-radius: 5%;
    text-align: center;
}

#containerSearch form input::-moz-placeholder {
    height: 6vh;
    size: 30%;
    font-size: 1.1em;
    border-color: rgba(70, 166, 94);
    border-radius: 5%;
    text-align: center;
}

/* alterando caracteristicas do placeholder - inicio */
#containerSearch form ::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form input::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form textarea::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

/* alterando caracteristicas do placeholder - fim */
#containerSearch form button {
    border: none;
    background: none;
}

#containerSearch form button i {
    font-size: 1.5em;
    color: #4fc4be;
}

#buttonLogin{
    font-size: 0.8em;
    margin: 1% 0% 0% 0%;
    color: #4fc4be;
}

#divRightLineTwo{
    z-index: 10;
}

#navBase {
    background: rgba(70, 166, 94,0.7);
}

#menuBase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.subMenu {
    border: none;
}

.tituloMenu {
    color: black;
    border: none;
}

.subTitulo {
    font-size: 0.9em;
    font-style: bold;
    color: #2655c2;
}

#listaLojas {
    list-style: none;
}

#listaDepartamentos {
    list-style: none;
}

#listaMenu {
    list-style: none;
}
    /*Menu Responsivo Início*/
#toggle{
    display: none;
}

#menuResponsivo{
    display: visible;
} 

/* Criando o Hamburguer - Início*/

#toggle{
    width: 27px;
    height: 27px;
    margin: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#toggle span,
#toggle span:before,
#toggle span:after{
    background: #4fc4be;
    display: block;
    height: 4px;
    position: absolute;
    transition: all 300ms ease;
}

#toggle span:before,
#toggle span:after{
    content: '';
}

#toggle span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#toggle span:before{
    left: 0px;
    top: -10px;
    width: 27px;
}

#toggle span:after{
    left: 0px;
    top: 10px;
    width: 27px;
}

/* Criando o Hamburguer - Fim*/

    /* Criando o X - Início*/

#toggle.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #4fc4be;
}

#toggle.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #4fc4be;
}

#toggle.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}

    /* Criando o X - Fim*/

    #menuResponsivo{
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        opacity: 0;
        text-align: center;
        padding-top: 20px;
        visibility: hidden;
        transition: all 300ms ease; 
    }
    
    #menuResponsivo.show{
        opacity: 1;
        visibility: visible;
        padding-top: 100px;
        background: #041847;
    }
    
    #menuResponsivo li{
        list-style: none;
        position: relative;
        width: 300px;
        margin: auto;
    }
    
    #menuResponsivo li:hover{
        letter-spacing: 4px;
    }
    
    #menuResponsivo li a{
        color: white;
        display: block;
        font-size: 32px;
        text-decoration: none;
        margin-bottom: 30px;
        position: relative;
        transition: all 300ms;
    }
    
    #menuResponsivo li a:before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../image/trazo-menu1.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transform: scale(0);
        transition: all 300ms;
    }
    
    #menuResponsivo li a:hover:before{
        opacity: 1;
        transform: scale(1);
    }

    .subItemMenu{ 
        display: none; 
    }
   
    #menuResponsivo li:hover ul{
        display: block;
    } 
   
   .subItemMenu li:hover ul{ 
       display: block; 
    }
    /*Menu Responsivo Fim*/

/* Fim Header*/

/* HOME Initiation */
#banner img {
    max-width: 15vw;
    max-height: 14vh;
}

.content-alt{
    display: flex;
    justify-content: center;

}
  /* HOME end */

/* Page Departamentos Início*/

.titulo{
    margin: 1.5% 0% 1.5% 0%;
    font-size: 2em;

}

/* Carrossel Início*/


 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
    
/* Carrossel End */
        /* Page Departamentos END */

/* Produtos Home */
.espacoProduto{
    margin-bottom: 50px;
}






/* produto  begin*/

.quadro{
    margin-top: 30px;
}

/* produto end */

/* card imagens begin*/

    /* .imgcard{
        margin-right: 18px;
    } */
.card-img-top{
    align-self: center;
}



/* card imagens end */

/* imagem logo */
.imagemlogo {
    width: 80%;
    height: 20%;
}
#imgLogoMeSustenta{
    width: 80%;
    height: 20%;
}



/* imagem */

.img1{
    margin: 17px;
    
}
.img2{
    margin: 15px;
}
.img3{
    padding: 30px;
}

/* video */

.videomd{
    align-self: center;
    
}


/* info */

.name-info{
    margin: 0px;
   
}
.quant{
    margin: 10px;
    font-size: 15px;
}
.btnn{
    margin: 15px;
    color: white;
    border-color: transparent;
    background-color: #17a2b8;
    
    
}
.card-text{
    text-align: center;
}

.prod h4{
    margin-bottom: 30px;
    align-self: center;
}

.card-prodGerais{
    justify-content: space-between;
    margin: 20px;
}

.prodGerais{
   margin: 10px;
}
.arm{
    margin-top:20px; 
}

.btn12{
    margin-top: 10px;
    
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
 
 .zoem:hover{
     transform: scale(1.4);
 } 

/* Imagem  produtos modal  */

 .modal{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


/* imagem modal end */

/* img produtos */

.rodape .card{
   border: none;
   max-width: 250px;
}
.caro img{
    max-width: 100px;
}
.princi img{
    max-width: 300px;
}

/* img produtos end */

/* footer begin */
footer{
    position: absolute;
    width: 100%;
    left: 0%;
    background-color: rgba(70, 166, 94,0.7);
    
  
}

footer .ftr{
    bottom: 0px;
    width: 100%;
    height: 90px;
    
    color: rgb(3, 38, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0% 0% 0%;
}


#listaRedeSocial {
    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
/* .fot{
    display: flex;
}
.contato{
    width: 10%;

} */
/* footer end */


/*****Page Carrinho Início *****/

#cabecalho{
    display: grid;
    flex-direction: row;
    justify-content: space-around;
}

#produto{
    display: grid;
    flex-direction: column;
    justify-content: space-around;
}

#descProduto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*****Page Carrinho FIM *****/
@media (max-width: 768px){
    #menuBase{
        display: none;
    }
    #toggle{
        display: block;
    }

    #menuResponsivo{
        display: block;
    }
    .col-md-4 {
        max-width: 80%;
        font-size: small;
    }
    #containerMeio img{
        max-width: 80%;
    }    
    #containerSearch{
        padding-right: 0px;
        padding-left: 0px;
    }

    #containerSearch form button i {
        font-size: 1em;
    }
    
    #containerSearch form input::-moz-placeholder {
        max-height: 5%;
        size: 20%;  
        font-size: 1em;
        border-color: #4fc4be;
        border-radius: 5%;
        text-align: center;
    } 
    
    .thumbnail img {
        max-width: 250px;
    }
    
    #buttonLogin{
        font-size: 0.7em;
    }

    #menuEnd{
        flex-flow: row wrap;
    }   
} 

/*========================================================
    Template - Quando estiver Logado
==========================================================*/

#primNome{
    margin: 0.1vh;
}

#primNome a{
    font-size:0.8em;
}

#btnEditarCd{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#editarCad a{
    text-decoration: none;
}

#btnEditarCd i{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menuDeslogar{
    background: #041847;
    z-index: 1000;
    display:flex;
    justify-content: space-around;
    align-items:center;
    max-width: 50vw;

}

#menuDeslogar p{
    margin: 0.8vh;
}