* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Verdana;
    font-size: 15px;
    min-height: 100vh;
    /* position: relative; */
    overflow-x: hidden;
  
}

#containerNav {
    background: white;
    padding: 0%;
    width: 100%;
}

#navTopo {
    margin: 1% 4% 0% 4%;
    width: 100vw;
    height: 16vh;
    justify-content: space-between;
    align-items: flex-start;
}

#containerSearch form input {
    height: 4vh;
    font-size: 1em;
    border-color: #4fc4be;
    border-radius: 5%;
    text-align: center;
}

#containerSearch form input::-moz-placeholder {
    height: 6vh;
    size: 30%;
    font-size: 1.1em;
    border-color: #4fc4be;
    border-radius: 5%;
    text-align: center;
}

/* alterando caracteristicas do placeholder - inicio */
#containerSearch form ::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form input::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form textarea::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

/* alterando caracteristicas do placeholder - fim */
#containerSearch form button {
    border: none;
    background: none;
}

#containerSearch form button i {
    font-size: 1.5em;
    color: #4fc4be;
}

#buttonLogin{
    font-size: 0.8em;
    margin: 1% 0% 0% 0%;
    color: #4fc4be;
}

#divRightLineTwo{
    z-index: 10;
}

#navBase {
    background: rgba(70, 166, 94,0.7);
}

#menuBase {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#toggle{
    display: none;
}

.subMenu {
    border: none;
}

.tituloMenu {
    color: black;
    border: none;
}

.subTitulo {
    font-size: 0.9em;
    font-style: bold;
    color: #2655c2;
}

#listaLojas {
    list-style: none;
}

#listaDepartamentos {
    list-style: none;
}

#listaMenu {
    list-style: none;
}


#banner img {
    max-width: 15vw;
    max-height: 14vh;
}

.content-alt{
    display: flex;
    justify-content: center;

}
  /* HOME end */

  /* form contato begin */

.contato-content {
    margin: 8%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    border: 4px solid #4fc4be;
    border-radius: 10px;
    background-color: white;
}

.contato-content .contato-titulo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-content form {
    width: 100%;
     padding: 10%;

}
.botao{
    margin-top: 2px;
}

h1#contatonome{
    margin-top: 90px;
}
.romd{
    margin: -7%;
    margin-top: -3%;
}

.romd1{
    max-width: 480px;
}

.mkrt{
    margin-top: 2%;
}

/* form contato end */

/* imagem logo */
#imagemlogo {
    width: 40%;
    height: 40%;
}

/* footer begin */
footer{
    position: absolute;
    width: 100%;
    left: 0%
  
}




#listaRedeSocial {
    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
/* .fot{
    display: flex;
}
.contato{
    width: 10%;

} */
/* footer end */