
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Verdana;
    font-size: 15px;
    min-height: 100vh;
    /* position: relative; */
    overflow-x: hidden;
  
}

#containerNav {
    background: white;
    padding: 0%;
    width: 100%;
}

#navTopo {
    margin: 1% 4% 0% 4%;
    width: 100vw;
    height: 16vh;
    justify-content: space-between;
    align-items: flex-start;
}

#containerSearch form input {
    height: 4vh;
    font-size: 1em;
    border-color: #4fc4be;
    border-radius: 5%;
    text-align: center;
}

#containerSearch form input::-moz-placeholder {
    height: 6vh;
    size: 30%;
    font-size: 1.1em;
    border-color: #4fc4be;
    border-radius: 5%;
    text-align: center;
}

/* alterando caracteristicas do placeholder - inicio */
#containerSearch form ::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form input::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

#containerSearch form textarea::placeholder {
    font-family: 'Lucida Grande';
    font-size: 1.1em;
    font-style: oblique;
    color: #4370d7;
}

/* alterando caracteristicas do placeholder - fim */
#containerSearch form button {
    border: none;
    background: none;
}

#containerSearch form button i {
    font-size: 1.5em;
    color: #4fc4be;
}

#buttonLogin{
    font-size: 0.8em;
    margin: 1% 0% 0% 0%;
    color: #4fc4be;
}

#divRightLineTwo{
    z-index: 10;
}

#navBase {
    background: rgba(70, 166, 94,0.7);
}

#menuBase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#toggle{
    display: none;
}

.subMenu {
    border: none;
}

.tituloMenu {
    color: black;
    border: none;
}

.subTitulo {
    font-size: 0.9em;
    font-style: bold;
    color: #2655c2;
}

#listaLojas {
    list-style: none;
}

#listaDepartamentos {
    list-style: none;
}

#listaMenu {
    list-style: none;
}


#banner img {
    max-width: 15vw;
    max-height: 14vh;
}

.content-alt{
    display: flex;
    justify-content: center;

}
  /* HOME end */



/* pagina sobre begin */

.sobre-conteudo.sobre-imagem {
    height: 40%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: url(../img/3rs-590x245.jpg);
    background-size: cover;
  }
  
  .sobre-conteudo .sobre-controle {
    background-color: #fff;
    padding: 3%;
    display: flex;
    justify-content: center;
    background-image: url()
  }
  
  .sobre-conteudo .sobre-controle video {
    width: 80%;
    height: 60vh;
    object-fit: cover;
  }
 
  
  .sobre-conteudo .sobre-controle article {
    width: 60%;
    display: flex;
    padding: 3%;
    justify-content: space-around;
  }
  
  .sobre-conteudo .sobre-controle p {
    margin-top: 1%;
    text-align: justify;
  }
 .textovideo{
     font-size: 16px;
 }

/* pagina sobre end */


/* imagem logo */
#imagemlogo {
    width: 40%;
    height: 40%;
}



/* video */

.videomd{
    align-self: center;
    
}


/* footer begin */
footer{
    position: absolute;
    width: 100%;
    left: 0%
  
}


#listaRedeSocial {
    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
/* .fot{
    display: flex;
}
.contato{
    width: 10%;

} */
/* footer end */

@media (max-width: 480px){
    #menuBase{
        display: none;
    }
    #toggle{
        display: block;
    }
}


/* Produtos Cards Home */

.thumbnail img {
    max-width: 250px;
}